<form>
  <legend>Правка коллеги</legend>
  <label>Имя</label>
  {{view Em.TextField valueBinding="name"}}
  <label>Email</label>
  {{view Em.TextField valueBinding="email"}}
  <label>Роль</label>
  {{view Em.Select valueBinding="role" contentBinding="Locus.router.rolesController" optionLabelPath="content.name" optionValuePath="content.id" }}
  <label>&nbsp;</label>
  <button {{action updatePerson}} class='btn' type='submit'>Сохранить</button>
  <button {{action peopleList}} class='btn btn-warning'>Назад</button>
</form>
